<!DOCTYPE html>
<html>
  <head>
    <title>Bombaydarbar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Crimson+Text|Playfair+Display|Pinyon+Script" rel="stylesheet">

  </head>

  <body>
  	<% content_for :address do %>
    <div class='address'>
    <a href="https://www.google.com/maps/place/Los+Bandidos+Zaisan/@47.88732,106.913796,17z/data=!3m1!4b1!4m5!3m4!1s0x5d9693c24cdf99ad:0x27134a6a990cf06b!8m2!3d47.88732!4d106.91599" target="_blank" style="text-decoration:none;">Zaisan Street, Zaisan Square, 7th floor, Ulaanbaatar 17023, Mongolia</a>
    <p>9904-4619</p>
  </div>
  <% end %>

  <% if current_page?('/') %>
    <%= yield(:address) %>
    <% end %>
    


    <% if current_user.present? && current_user.role == 'admin'%>
            <nav class='js-sticky-nav'>
      <ul >
        <div class='nav-items to-left'>
        <p>Contact Us</p>
        <%= link_to "Menu", manager_menu_path %>
          </div>
        <div class='nav-items to-center'>
        <p>HOME</p>
        </div>
        <div class='nav-items to-right'>
        <p>Hours</p>
        <p>Us</p>
        <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
        </div>
      </ul> 
    </nav>
      <% else %>

    <nav class="<%= 'js-sticky-nav' if current_page?('/')%>">
      <ul >
        <div class='nav-items to-left'>
        <p>Contact Us</p>
          <p>Menu</p>
          </div>
        <div class='nav-items to-center'>
        <p>HOME</p>
        </div>
        <div class='nav-items to-right'>
        <p>Hours</p>
        <p>Us</p>
        </div>
      </ul> 
    </nav>
        <% end %>        </div>
    <%= yield %>
    <footer>
    <img src="/assets/fb.png" alt='facebook logo'>
      <div class='footer-contents'>
        <p>Contact</p>
        <p class='bullet-point'>&#8226;</p>
        <p>Directions</p>
        <p class='bullet-point'>&#8226;</p>
        <p>Back to top</p>  
      </div>

      <p>&copy; 1999-2017, Los Bandidos</p>
    </footer>
  </body>
</html>
